.icon-large {
    font-size: 70px;
}
canvas {
    height: 250px;
}

span {
   font-size: 20;
}

@media only screen and (max-width: 420px) and (min-width: 351px) {
    span {
        font-size: 16;
     }
}
@media only screen and (max-width: 350px) {
    span {
        font-size: 14;
     }
}
